/*import de google fonts*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif;
}

body{
    background-color: rgb(255, 250, 242);
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color: #a4888f;
    font-size: 3rem;
    text-align: center;
}

h2{
    color: #a4888f;
    font-size: 2rem;
    text-align: center;
}

/*Header*/
.header{
    display: flex;
    justify-content: start; /* Alinear a la izquierda */
    align-items: center; /* Centrar verticalmente */
    z-index: 1005;
    height: 9vh; /* Altura del header */
    padding: 0 0 0 200px; 
    background-color: antiquewhite; 
    font-size: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

    .contentLogo{
        margin-right: 40px; /* Espacio entre el contenedor del logo y el menu */
        
        .logo {
            width: 60px; 
            height: auto; /* Mantener proporciones */
            max-height: 100%;}
    }

    .navHeader {
        .ulItems {
            display: flex; /* Usar flexbox para el menú */
            list-style: none; /* Sin viñetas */
            padding-left: 0; /* Sin padding en la lista */
            margin: 0; /* Sin margen */
            justify-content: flex-start; /* Alinear a la izquierda */
            
            .liItem {
                margin-right: 15px; /* Margen a la derecha entre elementos */
                
                a {
                    text-decoration: none; /* Sin subrayado */
                    color: #510d1b; /* Color del texto */
                    font-size: 1.7em; /* Tamaño del texto */
                    transition: color 0.3s; /* Transición suave para el color */
                    
                    /* Efecto de subrayado al pasar el mouse */
                    &:hover {
                        color: #b86d6d; /* Cambia el color al pasar el mouse */
                    }
                }
            }
        }
    }
}

/*Main*/
/*Seccion principal del main*/
.firstContent{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../assets/img/teaMain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    height: 91vh;
    display:flex;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    .firstText{
        z-index: 1002;
        width: 50%;
        margin:0 auto;
        margin-top: 30px;
        margin-inline: auto;
        padding: 10px;            
        border:1px solid rgb(255, 241, 241);
        border-radius: 5px;
        text-align: center;
        font-size: 10px;
        color: rgb(239, 213, 213);
        filter: brightness(0.8);
        backdrop-filter: blur(2px);
        p{
            font-size: 2.5em;
        }
        a{
            display: inline-block;/*para usar las propiedades en bloque,como padding margin y border*/
            margin-top: 20px;
            padding: 8px 16px; /* Ajuste en padding para un botón más grande */
            font-size: 2.5em;
            border: 1px solid rgb(255, 241, 241);
            border-radius: 2.5%;
            text-decoration: none;
            color: rgb(255, 255, 255);
            box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.228);
            transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */

            &:hover {
                transform: translateY(-2px); /* Efecto de elevación */
                box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.228);
            }
        }
    }
}

/*Nuestros productos destacados */
.featuredProducts {
    padding: 20px;

    .FeaturedProductsGalery {
        width: 70%;
        padding-top: 50px;
        margin: 0 auto;
        display: grid; /* Usar grid */
        grid-template-columns: repeat(5, 1fr); /* 4 columnas de igual tamaño */
        gap: 50px; /* Espacio entre tarjetas */
        
        .featuredCards {
            text-align: center;
            padding: 15px; /* Ajustar el padding */
            background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
            border: 1px solid #ddd; /* Borde suave */
            border-radius: 8px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
            transition: transform 0.3s; /* Efecto de transformación suave */
            a {
                text-decoration: none; /* Sin subrayado */
                color: #510d1b; /* Color del texto */
                font-size: 1em; /* Tamaño del texto */
                transition: color 0.3s; /* Transición suave para el color */
                
                /* Efecto de subrayado al pasar el mouse */
                &:hover {
                    color: #b86d6d; /* Cambia el color al pasar el mouse */
                    transform: scale(1.05); /* Aumenta el tamaño un poco */

                }
            }
            /* Efecto al pasar el mouse */
            &:hover {
                transform: scale(1.05); /* Aumenta el tamaño un poco */
            }

            img {
                max-width: 80%; /* Ajustar la imagen al 80% del contenedor */
                height: auto; /* Mantener proporciones */
                border-radius: 5px; /* Bordes redondeados en la imagen */
            }
        }
    }
}
/*Productos que trabajamos */
.button{
    display: inline-block;
    margin-top:50px;
    padding: 5px 10px;
    text-decoration: none;
    color:black;
    border-radius: 5px;
    box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
    
}
.brandsSale{
    text-align: center;
    .brandsGalery{
        margin-top:15px;
        background-color: pink;
        padding:50px;
       /* margin:0 auto;
        width: 90%;*/
        display:flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-wrap: wrap;
        
        img{
            width: 100px;
        }
    }
}

/* Footer */
.footer{
    font-size: 10px;
    .logo{
        width: 100px;
    }
    nav{    
        ul{
            list-style: none;
        }
        .navMenu{
            li{
                display: block;
            }
            a{
                text-decoration: none;
                color:  #510d1b;
                font-size: 1.5em;
            }
        }   
        .navInfo{
            li{
                display: block;
            }
            a{
                text-decoration: none;
                color:  #510d1b;
                font-size: 1.5em;
            }
        }         
        .redes{
            li{
                list-style: none;
                display: inline-block;
            }
            a{
                text-decoration: none;
                color:  #a5d6ba;
                font-size: 1.5em;
            }
            .fa-instagram, .fa-facebook, .fa-twitter{
                font-size: 3em;
            }
        }
    }
    .fa-whatsapp{
        font-size: 3.5em;
        color:rgb(44, 181, 44);
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    p{
        font-size: 1.5em;
      
    }

}

/* pantalla con maximo de 768px */
@media screen and (max-width: 768px) {  /*0 a 768*/
    .content {
       grid-template-areas:
       "header"
       "nav"
       "main"
       "section"
       "footer" ;
      
       grid-template-columns: 1fr ;
       grid-template-rows: 0.5fr 0.2fr repeat(3,1fr) 0.5fr;
      /* background-image: url("imagen pequeña perfecta para celular");*/
     
    }
   
/*Header*/
.header{
    grid-area: header;
    padding: 2px 30px 2px 30px ;
}

}